aplicacao/pkgs/Wadl/Fluxo-LogdeAcessos.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://brazil-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="Fluxo-LogdeAcessos" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Fluxo - Log de Acessos" />
  <grammars>
    <jsonTypes targetNamespace="https://brazil-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_Criaritem_ColaboradorClaims_def" />
      <string name="ManualTriggerInput_Criaritem_E-mail_def" />
      <string name="ManualTriggerInput_Criaritem_Departamento_def" />
      <string name="ManualTriggerInput_Criaritem_DataReferencia_def" />
      <object name="ManualTriggerInput">
        <property name="Criaritem_ColaboradorClaims" type="string" />
        <property name="Criaritem_E-mail" type="string" />
        <property name="Criaritem_Departamento" type="string" />
        <property name="Criaritem_DataReferencia" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://brazil-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Criaritem_ColaboradorClaims" path="/Criaritem_ColaboradorClaims" type="xs:string" required="true" />
            <param style="plain" name="Criaritem_E-mail" path="/Criaritem_E-mail" type="xs:string" required="true" />
            <param style="plain" name="Criaritem_Departamento" path="/Criaritem_Departamento" type="xs:string" required="true" />
            <param style="plain" name="Criaritem_DataReferencia" path="/Criaritem_DataReferencia" type="xs:string" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>